# .dockerignore

# Git and node
.git
.yarn/cache
.yarn/install-state
node_modules

# Build artifacts
dist
.svelte-kit

# IDE and OS files
.vscode
.idea
*.DS_Store

# Logs and environment files
*.log
.env
.env.*
!/.env.example
